<div class="jumbotron">
    <div class="container">
        <h2>Keep track of what you like and what you don't.</h2><br>
        <%= button_to "Sign Up", new_user_registration_path, method: :get, class: "btn btn-lg btn-info navbar-btn" %>
    </div>
</div>