// Variables

//Color Palette

//$gray:       #696D7D;
//$yellow:     #F0F66E;
//$charcoal:   #525252;
//$cream:      #EEFCCE;
//$blue:       #90F3FF;

//$gray:        #808D8E;
//$yellow:      #E3E36A;
//$red:         #941C2F;
//$blue:        #56EEF4;
//$sage:        #BACBA9;

//$yellow:        #DDD78D;
//$pink:          #AC4E7D;
//$gray:          #60656F;
//$blue:          #28C2FF;
//$black:         #131112;

$pear:            #B9FFB7;
$mint:            #ABEDC6;
$blue:            #98D9C2;
$orange:          #F19A3E;
$yellow:          #EDFF7A;

$turquoise:         #0FA3B1;
$glass:             #D7FFF1;
$gray:              #D9E5D6;
$purple:            #673C60;
$honeydew:          #E0FCB1;